.modal__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal__title {
	margin: 3.2rem 0 1.6rem;

	font-size: 2.4rem;
	line-height: 1.5;
	font-weight: 700;
}

.form {
	display: flex;
	flex-direction: column;

	width: 100%;
}

.radio__fieldset, .info__fieldset {
	display: flex;
	flex-wrap: wrap;
}

.radio__fieldset {
	flex-direction: column;

	label {
		display: flex;
		align-items: center;
		gap: 0.6rem;

		cursor: pointer;

		&:has(input:checked) {
			.checkbox__emulator {
				position: relative;

				&::before {
					content: '';

					position: absolute;
					top: 50%;
					left: 50%;
					translate: -50% -50%;

					display: inline-block;
					width: 1rem;
					height: 1rem;

					border-radius: 50%;

					background-color: #4E008E;
				}
			}
		}
	}

	.checkbox__emulator {
		display: inline-block;
		width: 2rem;
		height: 2rem;

		border-radius: 50%;
		border: 1.5px solid #9B9AA5
	}
}

.info__fieldset {
	margin: 2.4rem 0;
}

.text--label {
	/* flex: 1; */
	display: flex;
	flex-direction: column;
	gap: 0.8rem;

	.input--label {
		font-size: 1.4rem;
		line-height: 1.55;
		font-weight: 400;
		color: #4B4B4B;

		em {
			font-family: 'Lato';
		}
	}

	input[type="text"],
	input[type="url"] {
		padding: 1rem 1.6rem;
		border-radius: 1.2rem;
		border: 1px solid #9B9AA5;


		font-size: 1.4rem;
		line-height: 1.55;
		color: #605767;

		background-color: #FFFFFF;
	}
}