.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(0, 0, 0, 0.5);

	& .side {
		justify-content: flex-end;

		background: rgba(0, 0, 0, 0.1);

		.dialog {
			display: flex;
			flex-direction: column;
			justify-content: center;

			max-height: 100dvh;
			height: 100dvh;
			width: 36rem;

			padding: 8rem 4rem;
			border-radius: unset;
			box-sizing: border-box;
		}
	}
}

.dialog {
	max-height: 80dvh;
	max-width: 90%;
	width: 65rem;

	padding: 6.4rem;
	border-radius: 2.4rem;
	overflow: auto;

	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	background: #F1EEF4;

}

.close {
	position: absolute;
	top: 12px;
	right: 12px;
	background: transparent;
	border: none;
	font-size: 18px;
	cursor: pointer;

	transition: scale 0.25s ease;

	&:hover {
		scale: 1.05;
	}
}