.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3.2rem clamp(1.6rem, 4dvw, 5.6rem);

	background-color: #4E008E;

	.logo {
		width: clamp(8.6rem, 13dvw, 18.6rem);
		height: 4.1rem;

		img {
			width: 100%;
			height: 100%;

			object-position: center;
			object-fit: contain;
		}
	}

	.steps {
		display: flex;
		gap: 1.6rem;

		li {
			display: flex;
			align-items: center;
			gap: 0.8rem;

			font-size: clamp(1rem, 1dvw, 1.4rem);
			line-height: 1.28;
			font-weight: 700;
			color: #CACACA;

			&.active {
				color: #FBB041;

				span {
					font-weight: 700;
					border: 2px dashed #FBB041
				}
			}

			&.complete span {
				position: relative;
				overflow: hidden;

				border: 2px solid #FBB041;
				background-color: #FBB041;

				&::before {
					content: '';
					position: absolute;
					inset: 0 0 0 0;

					background-image: url("../../assets/SpiritHero__Check.svg");
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					background-color: #FBB041;
				}
			}


			span {
				display: flex;
				align-items: center;
				justify-content: center;

				width: clamp(2rem, 3dvw, 4rem);
				height: clamp(2rem, 3dvw, 4rem);

				border: 2px solid #CACACA;
				border-radius: 5rem;

				color: inherit;
				font-weight: 400;
			}
		}
	}

	.actions {
		display: flex;
		gap: 2.4rem;

		.save__button {
			padding: 1rem 1.8rem;
			border-radius: 1.2rem;
			border: 1px solid transparent;

			font-size: 1.4rem;
			line-height: 1.5;
			font-weight: 400;
			color: #FCFCFC;

			background-color: #373239;

			&:hover {
				border-color: #FBB041;
			}
		}

		.buttons__box {
			display: flex;
			align-items: center;
			gap: 1.6rem;


			.step__button {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 0.8rem;

				padding: 1rem 1.8rem;
				border-radius: 1.2rem;

				font-size: 1.4rem;
				line-height: 1.5;
				font-weight: 400;
				color: #373239;
				background-color: #FBB041;
			}

			.account__button {
				width: 3.2rem;
				height: 3.2rem;
			}
		}
	}
}