@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap');


@font-face {
  font-family: 'Dense';
  src: url('./assets/fonts/Dense-Regular.woff2') format('woff2'),
    url('./assets/fonts/Dense-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: 'Dense';
}

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  line-height: 1.43;
  font-weight: 400;

  color-scheme: light dark;
  color: #373239;
  background-color: #FBF8FD;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app--header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

input {

  padding: 1rem 1.6rem;
  border-radius: 1.2rem;
  border: 1px solid #9B9AA5;

  background-color: #FCFCFC;

  font-size: 1.4rem;
  line-height: 1.57;
  color: #373239;

  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover,
a.active {
  color: #535bf2;
}


body {
  margin: 0;
  min-width: 32rem;
  min-height: 100dvh;
  font-size: 10px;
}

html {
  overflow-x: hidden;
}

main {
  min-height: 100dvh;
}

.content--wrapper {
  max-width: 150rem;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {

  transition: border-color 0.25s, opacity 0.25s;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F1EEF4;
  color: #373239;
  cursor: pointer;
  transition: border-color 0.25s, opacity 0.25s, scale 0.2s ease;
}

button:disabled {
  opacity: 0.7;
  border-color: transparent;
  cursor: not-allowed;
}

button:hover {
  border-color: #373239;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.rotated {
  transform: rotate(180deg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FBF8FD;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Visually hide content but keep it accessible to screen readers */
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.light_button_1, .light_button_2 {
  padding: 1rem 1.8rem;
  border-radius: 1.2rem;
  border: 1px solid #4E008E;

  font-size: 1.4rem;
  line-height: 1.57;
  color: #373239;
}

.light_button_1 {
  background-color: #F1EEF4;
}

.light_button_2 {
  border: 1px solid #C33E36;
  background-color: #FFF2F2;
}

.contrast_button_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  padding: 1rem 1.6rem;
  border-radius: 1.2rem;

  font-size: 1.4rem;
  line-height: 1.57;
  color: #FCFCFC;
  text-align: center;

  background-color: #4E008E;

  transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;

  &:hover, &:focus {
    border-color: #FBB041;
    color: #FBB041;
  }
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: calc((100% - 1.6rem) / 2);
}

.width-33 {
  width: calc((100% - 2 * 1.6rem) / 3);
}

.validation--modal {
  position: relative;
  width: 70rem !important;
  padding: 4rem !important;

  button[aria-label="Close"] {
    top: 4rem;
    right: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.2rem;
    height: 3.2rem;

    padding: unset;
    border: 1px solid #CACACA;
    border-radius: 50%;
  }
}

.rdp-root {
  --rdp-accent-color: indigo;
  /* Change the accent color to indigo. */
  --rdp-accent-background-color: #f0f0f0;
  /* Change the accent background color. */
  /* Add more CSS variables here. */
}

.rdp-root {
  padding: 0.4rem 0;

  .rdp-months {
    padding: 1.6rem;
    background-color: #FCFCFC;
    box-shadow: 0px 0px 1px 0px #091E424F;

    box-shadow: 0px 3px 5px 0px #091E4233;

  }

  .rdp-month_caption {
    .rdp-caption_label {
      font-size: 1.6rem;
      line-height: 1;
      font-weight: 700;
      color: #373239;
    }
  }

  .rdp-chevron {
    color: #3732398f;
    fill: currentColor;
  }

  .rdp-weekdays {
    .rdp-weekday {
      padding-top: 2rem;

      font-size: 1.6rem;
      line-height: 1;
      font-weight: 700;
      text-transform: uppercase;
      color: #605767;

      opacity: unset;
    }
  }

  .rdp-today {
    &.rdp-selected {
      button {
        color: #FBB041;
      }
    }

    button {
      color: #4E008E;
    }
  }

  .rdp-day_button {
    font-size: 1.4rem;
    line-height: 1.33;
    font-weight: 400;
  }

  .rdp-range_start, .rdp-range_end {
    background: #4E008E;

    button {
      background-color: transparent;
      border: unset;
    }
  }

  .rdp-selected {
    color: #FCFCFC;
    background-color: #4E008E;
  }
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-height: 100dvh !important;
  height: 100dvh;
  width: 36rem !important;

  margin-left: auto;
  padding: 8rem 4rem !important;
  border-radius: unset !important;
  box-sizing: border-box;
}

.hide--borders::before {
  content: unset !important;
}


@supports (interpolate-size: allow-keywords) {
  ::details-content {
    transition:
      height 0.35s ease-in-out,
      content-visibility 0.35s ease-in-out allow-discrete;
    height: 0;
    overflow: clip;
  }


  :root {
    interpolate-size: allow-keywords;
  }

  [open]::details-content {
    height: auto;
  }
}