.label {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;

	width: 10.6rem;
	padding: 2rem 0 0.8rem;
	border-radius: 0.6rem;
	border: 1px solid #CACACA;

	background-color: #FCFCFC;
	transition: border-color 0.25s ease-in-out;
	cursor: pointer;

	&:has(input:checked) {
		border-color: #4E008E;

		.checkbox__emulator {
			svg {
				visibility: visible;
			}
		}
	}

	&.horisontal {
		flex-direction: row;
		align-items: center;
		gap: 1rem;

		width: 100%;
		padding: 0.8rem 1.6rem;
		box-sizing: border-box;

		.checkbox__emulator {
			position: unset;
		}
	}

	.color {
		display: inline-block;

		width: 4rem;

		aspect-ratio: 1/1;
		border-radius: 50%;
		border: 1px solid #CACACA;
	}

	.name {
		font-size: 1.2rem;
		line-height: 1.33;
	}

	.checkbox__emulator {
		position: absolute;
		top: 0.8rem;
		left: 0.8rem;

		display: inline-block;
		min-width: 1.6rem;
		width: 1.6rem;
		height: 1.6rem;

		border: 1px solid #9B9AA5;
		border-radius: 0.2rem;

		svg {
			visibility: hidden;
		}
	}
}